html[lang="en"] {
    #table-detail {
        th[data-package] {
            &.recommendPackage{
                &.basePrice {
                    &:before {
                        background-image: url(/images/bestvalue-g-en.png);
                    }
                }
            }
            &.basePrice {
                &:before {
                    background-image: url(/images/bestvalue-250x250.png);
                }
                &.hovered{
                    &:before {
                        background-image: url(/images/bestvalue-g-en.png);
                    }
                }
            }
        }
    }

    .choose-plan-mobile {
        .wrapper-choose-plan {
            div:last-child {
                &.recommendPackage{
                    &.basePrice {
                        &:before {
                            background-image: url(/images/bestvalue-g-en.png);
                        }
                    }
                }
                &.basePrice {
                    &:before {
                        background-image: url(/images/bestvalue-250x250.png);
                    }
                }
            }
        }
    }
}

html[lang="th"] {
    #table-detail {
        th[data-package] {
            &.recommendPackage{
                &.basePrice {
                    &:before {
                        background-image: url(/images/bestvalueth-g-th.png);
                    }
                }
            }
            &.basePrice {
                &:before {

                    background-image: url(/images/bestvalueth-250x250.png);
                }
                &.hovered{
                    &:before {
                        background-image: url(/images/bestvalueth-g-th.png);
                    }
                }
            }
        }
    }

    .choose-plan-mobile {
        .wrapper-choose-plan {
            div:last-child {
                &.recommendPackage{
                    &.basePrice {
                        &:before {
                            background-image: url(/images/bestvalueth-g-th.png);
                        }
                    }
                }
                &.basePrice {
                    &:before {
                        background-image: url(/images/bestvalueth-250x250.png);
                    }
                }
            }
        }
    }

}



main[data-package="CI"] {
    form {
        .check_box_disease {
            display: flex;
            border-radius: 5px;
            position: relative;
            justify-content: center;
            padding-top: 30px;
            flex-wrap: wrap;

            li {
                margin: 2px;
                flex: 1;

                @media all and (max-width: $md) {
                    margin: 10px;
                    flex: 33%;
                    &:first-child {
                        flex: 100%;
                    }
                    img {
                        max-height: 45px;
                    }
                }
            }

            input[type="checkbox"] {
                &:checked + label {
                    border: 1px solid $primary-color;

                    &:after {
                        opacity: 1;
                    }

                    strong {
                        color: $primary-color;
                    }

                    img {
                        filter: brightness(0.5) sepia(1) saturate(10000%);
                    }
                }

                + label {
                    position: relative;
                    margin-right: 10px;
                    padding: 30px 10px 10px;
                    text-align: center;
                    left: 0;
                    border-radius: 14px;
                    border: 1px solid #acacac;
                    display: inline-block;
                    height: 100%;

                    &:before {
                        display: none;
                    }

                    &:after {
                        content: "\EED8";
                        top: -21px;
                        left: 50%;
                        line-height: 38px;
                        margin-left: -19px;
                        text-indent: -6px;
                        opacity: 0;
                        z-index: 1;
                    }

                    &:hover {
                        span {
                            min-height: 100px;
                            padding: 5px;
                            overflow: visible;
                            z-index: 1;
                            max-height: 999em;

                            &:after {
                                bottom: -10px;
                            }
                        }
                    }

                    span {
                        overflow: hidden;
                        background: $primary-color;
                        color: #fff;
                        position: absolute;
                        left: -20px;
                        right: -20px;
                        bottom: calc(100% + 30px);
                        max-height: 0;
                        font-size: 0.7rem;
                        border-radius: 10px;
                        padding: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        @include project_transition();

                        &:after {
                            content: "";
                            display: block;
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            margin-left: -10px;
                            width: 0;
                            height: 0;
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-top: 10px solid $primary-color;
                            @include project_transition();
                        }
                    }

                    strong {
                        display: block;
                        @media all and (max-width: $sm) {
                            font-size: 0.6rem;
                        }
                    }

                    img {
                        height: 100px;
                        width: 100px;
                        @media all and (max-width: $sm) {
                            height: auto;
                            width: auto;
                        }
                    }
                }
            }
        }
    }

    .product-detail {
        #btn-more {
            display: none;
        }
    }

    #table-detail {
        border-radius: 0;
        overflow: visible;
        thead {
            tr {
                th {
                    vertical-align: bottom;
                }
            }
        }

        tbody {
            tr {
                &:nth-child(n+5) {
                    display: table-row;
                }
            }
        }

        th {
            position: relative;
            span {
                display: block;
            }

            span[data-recommend] {
                display: block;
                width: calc(100% + 40px);
                margin-left: -16px;
                @media all and (max-width: $sm) {
                    margin-left: 0;
                    margin-top: 5px;
                    position: static;
                    width: 100%;
                }
            }

            .package-number {
                display: block;
                margin-top: 0;

            }
        }

        th[data-package] {
            vertical-align: bottom;

            span[data-recommend] {
                display: none;
            }

            &.recommendPackage {
                span[data-recommend] {
                    display: block;
                }
            }

            &.basePrice {
                &:before {
                    content: "";
                    background-size: 100% auto;
                    background-position: top center;
                    background-repeat: no-repeat;
                    margin: 0 auto;
                    width: calc(100% + 40px);
                    height: 63px;
                    display: block;
                    position: relative;
                    top: -31px;
                    left: -20px;
                }
            }
        }

        td {
            &.recommendPackage, &.hovered {
                strong {
                    i {
                        color: #fff !important;
                    }
                }
            }
        }

        th:first-child {
            width: 45%;
            @media all and (max-width: $md) {
                width: auto;
            }
        }

        h6::before {
            counter-increment: section;
            content: counter(section) ". ";
        }
    }

    .slider_budget {
        margin: 0 14px;

        ins {
            display: none;
        }
    }

    .goto-step1 {
        margin: 25px 0 40px 0;
    }

    .choose-plan-mobile {
        display: flex;
        margin: 20px 0;
        @media all and (min-width: $md) {
            margin: 0;
        }

        .wrapper-choose-plan {
            position: relative;
            flex: 1;



            &:last-child {
                div {
                    &.basePrice {
                        overflow: visible;
                        padding-top: 9vw;
                        &:before {
                            content: "";
                            background-color: transparent;
                            background-size: 100% auto !important;
                            background-repeat: no-repeat;
                            background-position: top center;
                            margin: 0 auto;
                            width: 100%;
                            height: 10vw;
                            position: absolute;
                            opacity: 1;
                            top:-2vw;

                        }
                    }
                }
            }

            div {
                display: block;
                padding-left: 0;
                padding-right: 0;

                &.recommendPackage {
                    background: $primary-color;
                    color: #ffffff;

                    span[data-recommend] {
                        position: absolute;
                        top: 3px;
                        left: 0;
                        display: block !important;
                    }
                }

                .package-number {
                    display: block;
                    margin-top: 25px;
                }

                span {
                    display: block;
                    line-height: 0.7rem;
                }

                span[data-recommend] {
                    font-size: 0.5rem;
                    display: none !important;
                }

                a {
                    font-size: 0.6rem;
                    height: 20px;
                    max-width: 90%;
                }
            }

            .h_2_g {
                width: 30px;
                height: 37px;
                margin: 0 auto;
            }
        }
    }

    .why-ci {

        @media all and (min-width: $md) {
            display: flex;
            justify-content: space-between;
        }

        > div {
            border-radius: 14px;
            border: 1px solid $primary-color;

            padding: 20px;

            &:first-child {
                background: linear-gradient(180deg, rgba(242, 189, 48, 0) 50%, rgba(242, 189, 48, 1) 100%);
                border: 1px solid rgb(242, 189, 48);

            }

            &:last-child {
                flex: 0 0 60%;
                margin: 40px 0 0 0;
                @media all and (min-width: $md) {
                    margin: 0 0 0 40px;
                }

            }
        }

        h3 {
            color: $primary-color;
        }

        ul.stat {
            margin-top: 20px;

            li {
                margin-bottom: 10px;
                display: flex;

                strong {
                    font-size: 1.5rem;
                    color: #ffffff;
                    background-color: $primary-color;
                    border: 1px solid $primary-color;
                    padding: 0 10px;
                    max-width: 60px;

                    @media all and (min-width: $md) {
                        max-width: none;
                    }

                }

                span {
                    border: 1px solid $primary-color;
                    display: flex;
                    align-items: center;
                    padding-left: 20px;
                    flex: 1;
                }
            }
        }

    }

    .why-ci-source {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;

        &.cost {
            position: absolute;
            right: 0;
            bottom: -22px;
        }

        @media all and (max-width: $md) {
            justify-content: flex-start;
        }

        li {
            font-size: .6rem;
        }
    }

    .service_flexi {
        .service_flexi_box {
            display: flex;
            flex: 1;
            @media all and (max-width: $md) {
                flex-direction: column;
            }

            .inner {
                width: 50%;
                display: block;
                position: relative;
                @media all and (max-width: $md) {
                    margin: 10px 0;
                    width: 100%;
                }

                img {
                    width: 100%;
                    display: block;
                }
            }
        }
    }

    .installment-ci {
        display: flex;

        .img-wrapper {
            flex: 0 0 50%;
            margin-right: 20px;
            @media all and (max-width: $md) {
                flex: 0 0 100%;
            }
        }

        @media all and (max-width: $md) {
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    .select-ci-wrapper {
        background: linear-gradient(90deg, #f4c42c 0%, #e7575b 100%);
        padding-bottom: 0;

        h3 {
            color: #ffffff;
            text-align: center;
        }

        .wrapper {
            .box {
                display: flex;
                align-items: center;
                @media all and (max-width: $md) {
                    flex-direction: column-reverse;
                }

                > div:first-child {
                    flex: 0 0 45%;
                    align-self: flex-end;

                    img {
                        display: block;
                    }
                }

                > div:last-child {
                    margin-left: 20px;
                }
            }

            ul {
                li {
                    background-color: #fff;
                    margin: 10px 0;
                    padding: 10px 20px;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;

                    i {
                        font-size: 2rem;
                        margin-right: 10px;
                        color: $primary-color;
                    }

                    @media all and (max-width: $md) {
                        div {
                            margin-top: 10px;
                        }
                    }

                    strong,
                    span {
                        display: block;
                    }

                    em {
                        color: $primary-color;
                    }
                }
            }
        }
    }

    .icofont-caret-up {
        @include project_transition();

        &.on {
            @include project_transition();
            display: inline-block;
            transform: rotate(180deg);
        }
    }

    .package-number-ci {
        display: block;
    }

    .highlight-ci-wrapper {
        #step {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            column-gap: 5px;
            row-gap: 5px;
            background: #bfbfbf;

            @media all and (min-width: $md) {
                grid-template-columns: 1fr 1fr 1fr;
            }

            @media all and (min-width: $lg) {
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            }

            .item {
                text-align: center;
                border-radius: 5px;
                background: #ffffff;
                line-height: 19px;
                padding: 20px 10px;

                .material-icons {
                    font-size: 48px;
                    display: block;
                    margin: 10px 10px 20px 10px;
                    color: $primary-color;
                }
            }
        }
    }

    .ci-cost {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @media all and (min-width: $md) {
            flex-direction: row;
        }

        .ci-cost-box {
            width: 100%;
            border: 1px solid #f2bd30;
            border-radius: 14px;
            position: relative;
            @media all and (min-width: $md) {
                width: 49%;
            }
        }

        .ci-cost-table {
            width: 100%;
            margin: 20px auto;
            @media all and (min-width: $md) {
                margin: 0;
            }

            h6 {
                background: linear-gradient(
                        90deg, #f4c42c 0%, #e7575b 100%);
                padding: 10px;
                text-align: center;
                border-radius: 14px;
                color: #FFFFFF;
            }

            ul {
                padding: 10px;
                @media all and (max-width: $md) {
                    height: auto !important;
                }

                li {
                    display: flex;
                    padding: 10px 0;
                    border-bottom: 1px solid #f2bd30;

                    &:last-child {
                        border: none;
                    }

                    strong {
                        width: 50%;

                        span {
                            display: block;
                            font-size: .7rem;
                            font-weight: 500;

                            &:before {
                                content: "-";
                            }
                        }
                    }

                    .col-price {
                        width: 50%;
                        display: block;
                        text-align: right;
                        font-size: 30px;
                        font-weight: 800;
                        color: red;
                    }
                }
            }
        }
    }

    .check_q-wrapper {
        display: flex;
        justify-content: space-between;
        margin: 20px auto;
        max-width: 500px;

        .check_q {
            position: relative;
            margin: 0 10px;
            flex: 1;

            a {
                width: 100%;
            }

            input {
                display: none;
            }
        }
    }

    .question {
        p {
            margin: 20px 0;
        }
    }

    .popup-inner-wrapper {
        padding: 50px 20px;
        text-align: center;
    }

}
main[data-package="CI"]{
    .product-detail {
        #btn-more {
            display: none;
        }
    }
    #table-detail {
        border-radius: 0;
    }
}
main[data-package="CI"],[data-package="ONTAOB"] {
    form {
        .check_box_disease {
            display: flex;
            border-radius: 5px;
            position: relative;
            justify-content: center;
            padding-top: 30px;
            flex-wrap: wrap;

            li {
                margin: 2px;
                flex: 1;

                @media all and (max-width: $md) {
                    margin: 10px;
                    flex: 33%;
                    &:first-child {
                        flex: 100%;
                    }
                    img {
                        max-height: 45px;
                    }
                }
            }

            input[type="checkbox"] {
                &:checked + label {
                    border: 1px solid $primary-color;

                    &:after {
                        opacity: 1;
                    }

                    strong {
                        color: $primary-color;
                    }

                    img {
                        filter: brightness(0.5) sepia(1) saturate(10000%);
                    }
                }

                + label {
                    position: relative;
                    margin-right: 10px;
                    padding: 30px 10px 10px;
                    text-align: center;
                    left: 0;
                    border-radius: 14px;
                    border: 1px solid #acacac;
                    display: inline-block;
                    height: 100%;

                    &:before {
                        display: none;
                    }

                    &:after {
                        content: "\EED8";
                        top: -21px;
                        left: 50%;
                        line-height: 38px;
                        margin-left: -19px;
                        text-indent: -6px;
                        opacity: 0;
                        z-index: 1;
                    }

                    &:hover {
                        span {
                            min-height: 100px;
                            padding: 5px;
                            overflow: visible;
                            z-index: 1;
                            max-height: 999em;

                            &:after {
                                bottom: -10px;
                            }
                        }
                    }

                    span {
                        overflow: hidden;
                        background: $primary-color;
                        color: #fff;
                        position: absolute;
                        left: -20px;
                        right: -20px;
                        bottom: calc(100% + 30px);
                        max-height: 0;
                        font-size: 0.7rem;
                        border-radius: 10px;
                        padding: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        @include project_transition();

                        &:after {
                            content: "";
                            display: block;
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            margin-left: -10px;
                            width: 0;
                            height: 0;
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-top: 10px solid $primary-color;
                            @include project_transition();
                        }
                    }

                    strong {
                        display: block;
                        @media all and (max-width: $sm) {
                            font-size: 0.6rem;
                        }
                    }

                    img {
                        height: 100px;
                        width: 100px;
                        @media all and (max-width: $sm) {
                            height: auto;
                            width: auto;
                        }
                    }
                }
            }
        }
    }

    #table-detail {
        overflow: visible;
        thead {
            tr {
                th {
                    vertical-align: bottom;
                }
            }
        }

        tbody {
            tr {
                &:nth-child(n+5) {
                    display: table-row;
                }
            }
        }

        th {
            position: relative;
            span {
                display: block;
            }

            span[data-recommend] {
                display: block;
                width: calc(100% + 40px);
                margin-left: -16px;
                @media all and (max-width: $sm) {
                    margin-left: 0;
                    margin-top: 5px;
                    position: static;
                    width: 100%;
                }
            }

            .package-number {
                display: block;
                margin-top: 0;

            }
        }

        th[data-package] {
            vertical-align: bottom;

            span[data-recommend] {
                display: none;
            }

            &.recommendPackage {
                span[data-recommend] {
                    display: block;
                }
            }

            &.basePrice {
                &:before {
                    content: "";
                    background-size: 100% auto;
                    background-position: top center;
                    background-repeat: no-repeat;
                    margin: 0 auto;
                    width: calc(100% + 40px);
                    height: 63px;
                    display: block;
                    position: relative;
                    top: -31px;
                    left: -20px;
                }
            }
        }

        td {
            &.recommendPackage, &.hovered {
                strong {
                    i {
                        color: #fff !important;
                    }
                }
            }
        }

        th:first-child {
            width: 45%;
            @media all and (max-width: $md) {
                width: auto;
            }
        }
    }

    .slider_budget {
        margin: 0 14px;

        ins {
            display: none;
        }
    }

    .goto-step1 {
        margin: 25px 0 40px 0;
    }

    .choose-plan-mobile {
        display: flex;
        margin: 20px 0;
        @media all and (min-width: $md) {
            margin: 0;
        }

        .wrapper-choose-plan {
            position: relative;
            flex: 1;



            &:last-child {
                div {
                    &.basePrice {
                        overflow: visible;
                        padding-top: 9vw;
                        &:before {
                            content: "";
                            background-color: transparent;
                            background-size: 100% auto !important;
                            background-repeat: no-repeat;
                            background-position: top center;
                            margin: 0 auto;
                            width: 100%;
                            height: 10vw;
                            position: absolute;
                            opacity: 1;
                            top:-2vw;

                        }
                    }
                }
            }

            div {
                display: block;
                padding-left: 0;
                padding-right: 0;

                &.recommendPackage {
                    background: $primary-color;
                    color: #ffffff;

                    span[data-recommend] {
                        position: absolute;
                        top: 3px;
                        left: 0;
                        display: block !important;
                    }
                }

                .package-number {
                    display: block;
                    margin-top: 25px;
                }

                span {
                    display: block;
                    line-height: 0.7rem;
                }

                span[data-recommend] {
                    font-size: 0.5rem;
                    display: none !important;
                }

                a {
                    font-size: 0.6rem;
                    height: 20px;
                    max-width: 90%;
                }
            }

            .h_2_g {
                width: 30px;
                height: 37px;
                margin: 0 auto;
            }
        }
    }

    .why-ci {

        @media all and (min-width: $md) {
            display: flex;
            justify-content: space-between;
        }

        > div {
            border-radius: 14px;
            border: 1px solid $primary-color;

            padding: 20px;

            &:first-child {
                background: linear-gradient(180deg, rgba(242, 189, 48, 0) 50%, rgba(242, 189, 48, 1) 100%);
                border: 1px solid rgb(242, 189, 48);

            }

            &:last-child {
                flex: 0 0 60%;
                margin: 40px 0 0 0;
                @media all and (min-width: $md) {
                    margin: 0 0 0 40px;
                }

            }
        }

        h3 {
            color: $primary-color;
        }

        ul.stat {
            margin-top: 20px;

            li {
                margin-bottom: 10px;
                display: flex;

                strong {
                    font-size: 1.5rem;
                    color: #ffffff;
                    background-color: $primary-color;
                    border: 1px solid $primary-color;
                    padding: 0 10px;
                    max-width: 60px;

                    @media all and (min-width: $md) {
                        max-width: none;
                    }

                }

                span {
                    border: 1px solid $primary-color;
                    display: flex;
                    align-items: center;
                    padding-left: 20px;
                    flex: 1;
                }
            }
        }

    }

    .why-ci-source {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;

        &.cost {
            position: absolute;
            right: 0;
            bottom: -22px;
        }

        @media all and (max-width: $md) {
            justify-content: flex-start;
        }

        li {
            font-size: .6rem;
        }
    }

    .service_flexi {
        .service_flexi_box {
            display: flex;
            flex: 1;
            @media all and (max-width: $md) {
                flex-direction: column;
            }

            .inner {
                width: 50%;
                display: block;
                position: relative;
                @media all and (max-width: $md) {
                    margin: 10px 0;
                    width: 100%;

                    header nav ul.main div.sub #imgnew {
                        width: 10% !important;
                        display: block;
                    }
                }

                img {
                    width: 100%;
                    display: block;
                }
            }
        }
    }

    .installment-ci {
        display: flex;

        .img-wrapper {
            flex: 0 0 50%;
            margin-right: 20px;
            @media all and (max-width: $md) {
                flex: 0 0 100%;
            }
        }

        @media all and (max-width: $md) {
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    .select-ci-wrapper {
        background: linear-gradient(90deg, #f4c42c 0%, #e7575b 100%);
        padding-bottom: 0;

        h3 {
            color: #ffffff;
            text-align: center;
        }

        .wrapper {
            .box {
                display: flex;
                align-items: center;
                @media all and (max-width: $md) {
                    flex-direction: column-reverse;
                }

                > div:first-child {
                    flex: 0 0 45%;
                    align-self: flex-end;

                    img {
                        display: block;
                    }
                }

                > div:last-child {
                    margin-left: 20px;
                }
            }

            ul {
                li {
                    background-color: #fff;
                    margin: 10px 0;
                    padding: 10px 20px;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;

                    i {
                        font-size: 2rem;
                        margin-right: 10px;
                        color: $primary-color;
                    }

                    @media all and (max-width: $md) {
                        div {
                            margin-top: 10px;
                        }
                    }

                    strong,
                    span {
                        display: block;
                    }

                    em {
                        color: $primary-color;
                    }
                }
            }
        }
    }

    .icofont-caret-up {
        @include project_transition();

        &.on {
            @include project_transition();
            display: inline-block;
            transform: rotate(180deg);
        }
    }

    .package-number-ci {
        display: block;
    }

    .highlight-ci-wrapper {
        #step {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            column-gap: 5px;
            row-gap: 5px;
            background: #bfbfbf;

            @media all and (min-width: $md) {
                grid-template-columns: 1fr 1fr 1fr;
            }

            @media all and (min-width: $lg) {
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            }

            .item {
                text-align: center;
                border-radius: 5px;
                background: #ffffff;
                line-height: 19px;
                padding: 20px 10px;

                .material-icons {
                    font-size: 48px;
                    display: block;
                    margin: 10px 10px 20px 10px;
                    color: $primary-color;
                }
            }
        }
    }

    .ci-cost {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @media all and (min-width: $md) {
            flex-direction: row;
        }

        .ci-cost-box {
            width: 100%;
            border: 1px solid #f2bd30;
            border-radius: 14px;
            position: relative;
            @media all and (min-width: $md) {
                width: 49%;
            }
        }

        .ci-cost-table {
            width: 100%;
            margin: 20px auto;
            @media all and (min-width: $md) {
                margin: 0;
            }

            h6 {
                background: linear-gradient(
                        90deg, #f4c42c 0%, #e7575b 100%);
                padding: 10px;
                text-align: center;
                border-radius: 14px;
                color: #FFFFFF;
            }

            ul {
                padding: 10px;
                @media all and (max-width: $md) {
                    height: auto !important;
                }

                li {
                    display: flex;
                    padding: 10px 0;
                    border-bottom: 1px solid #f2bd30;

                    &:last-child {
                        border: none;
                    }

                    strong {
                        width: 50%;

                        span {
                            display: block;
                            font-size: .7rem;
                            font-weight: 500;

                            &:before {
                                content: "-";
                            }
                        }
                    }

                    .col-price {
                        width: 50%;
                        display: block;
                        text-align: right;
                        font-size: 30px;
                        font-weight: 800;
                        color: red;
                    }
                }
            }
        }
    }

    .check_q-wrapper {
        display: flex;
        justify-content: space-between;
        margin: 20px auto;
        max-width: 500px;

        .check_q {
            position: relative;
            margin: 0 10px;
            flex: 1;

            a {
                width: 100%;
            }

            input {
                display: none;
            }
        }
    }

    .question {
        p {
            margin: 20px 0;
        }
    }

    .popup-inner-wrapper {
        padding: 50px 20px;
        text-align: center;
    }

}
