$primary-color: #E71618;
$secondary-color: #2175ff;
$danger-color: #ff0000;


$btn-primary-color: #000000;
$btn-font-weight: 600;
$btn-secondary-bg: #2175ff;
$btn-border-radius: 50px;
$font-family-sans-serif: 'Prompt','Noto Serif SC', sans-serif;
$font-size-root: 16px;

$xl: 1200px;
$lg: 992px;
$md : 768px;
$sm : 600px;

