@import "variable";
@import "mixin";
@import "fonts";
@import "node_modules/reset-css/sass/reset";
@import "default";
@import "icofont";
@import "social";
@import "node_modules/tiny-slider/src/tiny-slider";
@import "node_modules/flatpickr/dist/flatpickr";
@import "node_modules/flatpickr/dist/themes/material_red";
@import "node_modules/intl-tel-input/build/css/intlTelInput";
@import "project";
